exportlibrary.datastructure/pipelines/impc_001_IMPC_CBC_001.xsd

<?xml version="1.0"?>
<!--

    Copyright (C) 2013 Julian Atienza Herrero <j.atienza at har.mrc.ac.uk>

    MEDICAL RESEARCH COUNCIL UK MRC

    Harwell Mammalian Genetics Unit

    http://www.har.mrc.ac.uk

    Licensed under the Apache License, Version 2.0 (the "License"); you may not
    use this file except in compliance with the License. You may obtain a copy of
    the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
    License for the specific language governing permissions and limitations under
    the License.

-->
<xs:schema xmlns="http://www.mousephenotype.org/dcc/exportlibrary/datastructure/pipelines"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"   
    xmlns:pc="http://www.mousephenotype.org/dcc/exportlibrary/datastructure/core/common"
    targetNamespace="http://www.mousephenotype.org/dcc/exportlibrary/datastructure/pipelines" elementFormDefault="qualified"
    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0">
    <xs:import namespace="http://www.mousephenotype.org/dcc/exportlibrary/datastructure/core/common"  schemaLocation="file:/home/julian/mrc_svn/exportlibrary/exportlibrary.datastructure/src/main/resources/schemas/core/common.xsd"/>
    
    <xs:element name="centreProcedureSet">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation xml:lang="en"> Top level term of the experimental data document. An
                    xml document following this xsd must have at least one centreProcedure element.
                </xs:documentation>
            </xs:annotation>
            <xs:sequence minOccurs="1" maxOccurs="unbounded">
                <xs:element name="centre" type="CentreProcedure"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="CentreProcedure">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="housing"    type="Housing"    minOccurs="1" maxOccurs="2"/>
            <!--<xs:element name="line"       type="Line"       minOccurs="0" maxOccurs="unbounded"/> -->
            <xs:element name="experiment" type="Experiment" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="centreID"          type="pc:CentreILARcode" use="required"/>
        <xs:attribute name="pipeline"          type="Pipelines"         use="required"/>
        <xs:attribute name="project"           type="Projects"          use="required"/>
    </xs:complexType>
    
    <xs:simpleType name="Pipelines">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IMPC_001"/>
        </xs:restriction> 
    </xs:simpleType>
    
    <xs:simpleType name="Projects">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IMPC_001"/>
        </xs:restriction> 
    </xs:simpleType>
   
    <xs:complexType name="Experiment">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="specimenID"   type="xs:string"              minOccurs="1" maxOccurs="1"/>
            <xs:element name="procedure"    type="ExperimentalProcedure"  minOccurs="1" maxOccurs="1"/>
            <xs:element name="statusCode"   type="StatusCode"             minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="sequenceID"       type="xs:string" use="optional"/>
        <xs:attribute name="experimentID"     type="xs:string" use="required"/>
        <xs:attribute name="dateOfExperiment" type="xs:date"   use="required"/>
    </xs:complexType>
   
    <xs:complexType name="StatusCode">
        <xs:annotation>
            <xs:documentation xml:lang="en"> This is an optional element. This is a descriptor from
                a controlled list that provides additional information about the experiment or about
                the animal.
                <!-- <a href="http://www.eumodic.org/internal/dokuwiki/lib/exe/fetch.php?id=wiki%3Aparameters&cache=cache&media=wiki:status_codes-6-27012011.xlsx"></a> -->
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="date" type="xs:date" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="ExperimentalProcedure">
        <xs:annotation>
            <xs:documentation xml:lang="en"> This holds all the actual parameters for one
                experiment. The actual Std Operating Procedures are defined in IMPReSS. A procedure
                must contain at least one parameter of the types below. procedureID is the IMPReSSID
                for the procedure. 
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="simpleParameter"      type="SimpleParameter"                            minOccurs="3"  maxOccurs="unbounded"/>
            <xs:element name="procedureMetadata"    type="IMPC_001_IMPC_CBC_001_ProcedureMetadata"    minOccurs="1"  maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="procedureID" type="IMPC_001_procedures" use="required"/>
    </xs:complexType>
    
    <xs:complexType name="Housing">
        <xs:annotation>
            <xs:documentation xml:lang="en"> This is an optional element. This is a descriptor from
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="procedure"    type="HousingProcedure"  minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="fromLIMS"    type="xs:boolean" use="required"/>
        <xs:attribute name="lastUpdated" type="xs:date"    use="optional"/>
    </xs:complexType>
    
    
    <xs:complexType name="HousingProcedure">
        <xs:annotation>
            <xs:documentation xml:lang="en"> This holds all the actual parameters for one
                experiment. The actual Std Operating Procedures are defined in IMPReSS. A procedure
                must contain at least one parameter of the types below. procedureID is the IMPReSSID
                for the procedure. 
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="simpleParameter"      type="HousingSimpleParameter"   minOccurs="1"  maxOccurs="unbounded"/>
            <xs:element name="procedureMetadata"    type="HousingProcedureMetadata" minOccurs="1"  maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="procedureID" type="IMPC_001_housing_procedures" use="required"/>
    </xs:complexType>
    
    
    <xs:simpleType name="IMPC_001_procedures">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IMPC_CBC_001"/>
        </xs:restriction> 
    </xs:simpleType>
    
    <xs:simpleType name="IMPC_001_housing_procedures">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IMPC_HOS_001"/>
            <xs:enumeration value="IMPC_HOS_002"/>
            <xs:enumeration value="IMPC_HOS_003"/>
        </xs:restriction> 
    </xs:simpleType>
    
    <xs:complexType name="SimpleParameter">
        <xs:annotation>
            <xs:documentation xml:lang="en"> A parameter that has a single textual or numerical
                result. ParameterStatus allows additional information about the parameter to be
                recorded, including the reason why there is no result for this parameter.
                ParameterID is the IMPReSSID of the parameter. 
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="value"           type="xs:float"  minOccurs="1" maxOccurs="1"/>
            <xs:element name="parameterStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="parameterID" type="IMPC_001_IMPC_CBC_001_parameters"  use="required"/>
        <xs:attribute name="unit"        type="Units"  use="required"/>
        <xs:attribute name="sequenceID"  type="xs:integer" use="optional"/>
    </xs:complexType>
    
    
    <xs:complexType name="HousingSimpleParameter">
        <xs:annotation>
            <xs:documentation xml:lang="en"> A parameter that has a single textual or numerical
                result. ParameterStatus allows additional information about the parameter to be
                recorded, including the reason why there is no result for this parameter.
                ParameterID is the IMPReSSID of the parameter. 
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="value"           type="xs:float"  minOccurs="1" maxOccurs="1"/>
            <xs:element name="parameterStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="parameterID" type="IMPC_001_IMPC_HOS_001_parameters"  use="required"/>
        <xs:attribute name="unit"        type="xs:string"  use="optional"/>
        <xs:attribute name="sequenceID"  type="xs:integer" use="optional"/>
    </xs:complexType>
    
    
    <xs:complexType name="IMPC_001_IMPC_CBC_001_ProcedureMetadata">
        <xs:annotation>
            <xs:documentation xml:lang="en"> A metadata parameter that has a single textual or
                numerical result. ParameterStatus allows additional information about the parameter
                to be recorded, including the reason why there is no result for this parameter.
                Attributes; parameterID: IMPReSS ID of this parameter 
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="parameterStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="value"           type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="parameterID" type="IMPC_001_IMPC_CBC_001_metadata"  use="required"/>
        <xs:attribute name="sequenceID"  type="xs:integer" use="optional"/>
    </xs:complexType>
   
    <xs:complexType name="HousingProcedureMetadata">
        <xs:annotation>
            <xs:documentation xml:lang="en"> A metadata parameter that has a single textual or
                numerical result. ParameterStatus allows additional information about the parameter
                to be recorded, including the reason why there is no result for this parameter.
                Attributes; parameterID: IMPReSS ID of this parameter 
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="parameterStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="value"           type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="parameterID" type="Housing_metadata_parameters"  use="required"/>
        <xs:attribute name="sequenceID"  type="xs:integer" use="optional"/>
    </xs:complexType>
   
   
    <xs:simpleType name="Housing_metadata_parameters">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IMPC_001_IMPC_HOS_010_001"/>
            <xs:enumeration value="IMPC_001_IMPC_HOS_011_001"/>
            <xs:enumeration value="IMPC_001_IMPC_HOS_012_001"/>
        </xs:restriction>
    </xs:simpleType>
    
   
   
    <xs:simpleType name="IMPC_001_IMPC_HOS_001_parameters">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IMPC_001_IMPC_HOS_001_001"/>
            <xs:enumeration value="IMPC_001_IMPC_HOS_002_001"/>
            <xs:enumeration value="IMPC_001_IMPC_HOS_003_001"/>
        </xs:restriction>
    </xs:simpleType>
       
    <xs:simpleType name="IMPC_001_IMPC_CBC_001_parameters">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IMPC_CBC_001_001"/>
            <xs:enumeration value="IMPC_CBC_002_001"/>
            <xs:enumeration value="IMPC_CBC_003_001"/>
            <xs:enumeration value="IMPC_CBC_004_001"/>
            <xs:enumeration value="IMPC_CBC_005_001"/>
            <xs:enumeration value="IMPC_CBC_006_001"/>
            <xs:enumeration value="IMPC_CBC_007_001"/>
            <xs:enumeration value="IMPC_CBC_008_001"/>
            <xs:enumeration value="IMPC_CBC_009_001"/>
            <xs:enumeration value="IMPC_CBC_010_001"/>
            <xs:enumeration value="IMPC_CBC_011_001"/>
            <xs:enumeration value="IMPC_CBC_012_001"/>
            <xs:enumeration value="IMPC_CBC_013_001"/>
            <xs:enumeration value="IMPC_CBC_014_001"/>
            <xs:enumeration value="IMPC_CBC_015_001"/>
            <xs:enumeration value="IMPC_CBC_016_001"/>
            <xs:enumeration value="IMPC_CBC_017_001"/>
            <xs:enumeration value="IMPC_CBC_018_001"/>
          <!--  <xs:enumeration value="IMPC_CBC_019_001"/> taken out because value type is text -->
            <xs:enumeration value="IMPC_CBC_020_001"/>
            <xs:enumeration value="IMPC_CBC_021_001"/>
            <xs:enumeration value="IMPC_CBC_022_001"/>
            <xs:enumeration value="IMPC_CBC_023_001"/>
            <xs:enumeration value="IMPC_CBC_024_001"/>
            <xs:enumeration value="IMPC_CBC_025_001"/>
            <xs:enumeration value="IMPC_CBC_026_001"/>
            <xs:enumeration value="IMPC_CBC_027_001"/>
            <xs:enumeration value="IMPC_CBC_028_001"/>
            <xs:enumeration value="IMPC_CBC_029_001"/>
            <xs:enumeration value="IMPC_CBC_030_001"/>
            <xs:enumeration value="IMPC_CBC_031_001"/>
            <xs:enumeration value="IMPC_CBC_032_001"/>
        </xs:restriction> 
    </xs:simpleType>
    
     <xs:simpleType name="IMPC_001_IMPC_CBC_001_metadata">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IMPC_CBC_033_001"/>
            <xs:enumeration value="IMPC_CBC_034_001"/>
            <xs:enumeration value="IMPC_CBC_035_001"/>
            <xs:enumeration value="IMPC_CBC_036_001"/>
            <xs:enumeration value="IMPC_CBC_037_001"/>
            <xs:enumeration value="IMPC_CBC_038_001"/>
            <xs:enumeration value="IMPC_CBC_039_001"/>
            <xs:enumeration value="IMPC_CBC_040_001"/>
            <xs:enumeration value="IMPC_CBC_041_001"/>
            <!--<xs:enumeration value="IMPC_CBC_042_001"/> taken out because value type is boolean insteead of text-->
            <xs:enumeration value="IMPC_CBC_043_001"/>
            <xs:enumeration value="IMPC_CBC_044_001"/>
            <xs:enumeration value="IMPC_CBC_045_001"/>
            <!-- <xs:enumeration value="IMPC_CBC_046_001"/>
            <xs:enumeration value="IMPC_CBC_047_001"/> taken out because value type is date insteead of text-->
            <xs:enumeration value="IMPC_CBC_048_001"/>
            <xs:enumeration value="IMPC_CBC_049_001"/>
            <xs:enumeration value="IMPC_CBC_050_001"/>
        </xs:restriction> 
    </xs:simpleType>
    
    <xs:simpleType name="Units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mmol/l"/>
            <xs:enumeration value="umol/l"/>
            <xs:enumeration value="g/l"/>
        </xs:restriction> 
    </xs:simpleType>
    

</xs:schema>