exportlibrary.datastructure/pipelines/impc_001_IMPC_XRY_001.xsd

<?xml version="1.0"?>
<!--

    Copyright (C) 2013 Julian Atienza Herrero <j.atienza at har.mrc.ac.uk>

    MEDICAL RESEARCH COUNCIL UK MRC

    Harwell Mammalian Genetics Unit

    http://www.har.mrc.ac.uk

    Licensed under the Apache License, Version 2.0 (the "License"); you may not
    use this file except in compliance with the License. You may obtain a copy of
    the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
    License for the specific language governing permissions and limitations under
    the License.

-->
<xs:schema xmlns="http://www.mousephenotype.org/dcc/exportlibrary/datastructure/pipelines"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"   
    xmlns:pc="http://www.mousephenotype.org/dcc/exportlibrary/datastructure/core/common"
    targetNamespace="http://www.mousephenotype.org/dcc/exportlibrary/datastructure/pipelines" elementFormDefault="qualified"
    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0">
    <xs:import namespace="http://www.mousephenotype.org/dcc/exportlibrary/datastructure/core/common"  schemaLocation="../src/main/resources/schemas/core/common.xsd"/>
    
    <xs:element name="centreProcedureSet">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation xml:lang="en"> Top level term of the experimental data document. An
                    xml document following this xsd must have at least one centreProcedure element.
                </xs:documentation>
            </xs:annotation>
            <xs:sequence minOccurs="1" maxOccurs="1">
                <xs:element name="centre" type="CentreProcedure"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="CentreProcedure">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="housing"    type="Housing"    minOccurs="1" maxOccurs="2"/>
            <!--<xs:element name="line"       type="Line"       minOccurs="0" maxOccurs="unbounded"/> -->
            <xs:element name="experiment" type="Experiment" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="centreID"          type="pc:CentreILARcode" use="required"/>
        <xs:attribute name="pipeline"          type="Pipelines"         use="required"/>
        <xs:attribute name="project"           type="Projects"          use="required"/>
    </xs:complexType>
    
    <xs:simpleType name="Pipelines">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IMPC_001"/>
        </xs:restriction> 
    </xs:simpleType>
    
    <xs:simpleType name="Projects">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IMPC_001"/>
        </xs:restriction> 
    </xs:simpleType>
   
    <xs:complexType name="Experiment">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="specimenID"   type="xs:string"              minOccurs="1" maxOccurs="1"/>
            <xs:element name="procedure"    type="ExperimentalProcedure"  minOccurs="1" maxOccurs="1"/>
            <xs:element name="statusCode"   type="StatusCode"             minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="sequenceID"       type="xs:string" use="optional"/>
        <xs:attribute name="experimentID"     type="xs:string" use="required"/>
        <xs:attribute name="dateOfExperiment" type="xs:date"   use="required"/>
    </xs:complexType>
   
    <xs:complexType name="StatusCode">
        <xs:annotation>
            <xs:documentation xml:lang="en"> This is an optional element. This is a descriptor from
                a controlled list that provides additional information about the experiment or about
                the animal.
                <!-- <a href="http://www.eumodic.org/internal/dokuwiki/lib/exe/fetch.php?id=wiki%3Aparameters&cache=cache&media=wiki:status_codes-6-27012011.xlsx"></a> -->
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="date" type="xs:date" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="ExperimentalProcedure">
        <xs:annotation>
            <xs:documentation xml:lang="en"> This holds all the actual parameters for one
                experiment. The actual Std Operating Procedures are defined in IMPReSS. A procedure
                must contain at least one parameter of the types below. procedureID is the IMPReSSID
                for the procedure. 
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="ontologyParameter"    type="OntologyParameter"                        minOccurs="1"  maxOccurs="unbounded"/>
            <xs:element name="seriesMediaParameter" type="SeriesMediaParameter"                     minOccurs="1"  maxOccurs="unbounded"/>
            <xs:element name="procedureMetadata"    type="IMPC_001_IMPC_LKZ_001_ProcedureMetadata"  minOccurs="1"  maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="procedureID" type="IMPC_001_procedures" use="required"/>
    </xs:complexType>
    
    <xs:complexType name="Housing">
        <xs:annotation>
            <xs:documentation xml:lang="en"> This is an optional element. This is a descriptor from
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="procedure"    type="HousingProcedure"  minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="fromLIMS"    type="xs:boolean" use="required"/>
        <xs:attribute name="lastUpdated" type="xs:date"    use="optional"/>
    </xs:complexType>
    
    
    <xs:complexType name="HousingProcedure">
        <xs:annotation>
            <xs:documentation xml:lang="en"> This holds all the actual parameters for one
                experiment. The actual Std Operating Procedures are defined in IMPReSS. A procedure
                must contain at least one parameter of the types below. procedureID is the IMPReSSID
                for the procedure. 
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="simpleParameter"      type="HousingSimpleParameter"   minOccurs="1"  maxOccurs="unbounded"/>
            <xs:element name="procedureMetadata"    type="HousingProcedureMetadata" minOccurs="1"  maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="procedureID" type="IMPC_001_housing_procedures" use="required"/>
    </xs:complexType>
    
    
    <xs:simpleType name="IMPC_001_procedures">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IMPC_XRY_001"/>
        </xs:restriction> 
    </xs:simpleType>
    
    <xs:simpleType name="IMPC_001_housing_procedures">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IMPC_HOS_001"/>
            <xs:enumeration value="IMPC_HOS_002"/>
            <xs:enumeration value="IMPC_HOS_003"/>
        </xs:restriction> 
    </xs:simpleType>
    
    
    <xs:complexType name="OntologyParameter">
        <xs:annotation>
            <xs:documentation xml:lang="en"> A parameter that has one or more ontology annotations.
                It differs from simple parameter only in the cardinality, term must happen at least
                once. ParameterStatus allows additional information about the parameter to be
                recorded, including the reason why there is no result for this parameter.
                ParameterID is the IMPReSSID of the parameter. 
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="term"            type="OntologyTerms" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="parameterStatus" type="xs:string"     minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="parameterID" type="IMPC_001_IMPC_XRY_001_parameters"  use="required"/>
        <xs:attribute name="sequenceID"  type="xs:integer" use="required"/>
    </xs:complexType>
    
    
    
    
    <xs:simpleType name="OntologyTerms">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PATO:0000646"/>  <!--pato malformed -->
            <xs:enumeration value="PATO:0000586"/> <!-- pato increased size-->	
            <xs:enumeration value="MA:0000021"/> <!--abdominal segment of trunk [MA:0000021] -->
        </xs:restriction> 
    </xs:simpleType>
   
   
    <xs:complexType name="SeriesMediaParameter">
        <xs:annotation>
            <xs:documentation xml:lang="en"> It can have one or more media files associated with it
                eg two xrays taken at different orientations. Attributes; parameterID: IMPReSS ID of
                this parameter 
            </xs:documentation> 
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="value"             type="SeriesMediaParameterValue"               minOccurs="1"  maxOccurs="unbounded"/>
            <xs:element name="parameterStatus"   type="xs:string"                               minOccurs="0"  maxOccurs="1"/>
            <xs:element name="procedureMetadata" type="IMPC_001_IMPC_LKZ_001_ProcedureMetadata" minOccurs="1"  maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="parameterID" type="IMPC_001_IMPC_XRY_001_parameters" use="required"/>
    </xs:complexType>
    
    
    
    
    <xs:complexType name="SeriesMediaParameterValue">
        <xs:annotation>
            <xs:documentation xml:lang="en"> This is a single media file as part of series of
                results. The incrementValue attribute should be a unique for each occurring element,
                eg the orientation of the XRay. Attributes incrementValue : attribute should be a
                unique for each occurring element, eg the repeat number or the time of measurement.
                URI : the location from which the dcc can download this file. mimeType : find a list
                at
                <!--<a href="http://svn.apache.org/viewvc/httpd/httpd/branches/2.2.x/docs/conf/mime.types?view=annotate">list</a> -->
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="parameterAssociation" type="ParameterAssociation" minOccurs="1"  maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="incrementValue" type="xs:string" use="optional"/>
        <xs:attribute name="URI"            type="xs:anyURI" use="optional"/>
        <xs:attribute name="fileType"       type="mimeTypes" use="optional"/>
    </xs:complexType>
    <xs:complexType name="ParameterAssociation">
        <xs:annotation>
            <xs:documentation xml:lang="en"> To specify what to find in the image or region of an
                image of a mediaFile. Attribute: parameterID; IMPReSS identifier or the biological
                structure present in the specified region. 
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element name="dim" type="Dimension" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="parameterID" type="IMPC_001_IMPC_XRY_001_parameters"  use="required"/>
        <xs:attribute name="sequenceID"  type="xs:integer" use="optional"/>
    </xs:complexType>
    
    <xs:complexType name="Dimension">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                A dimension can be x, y, z, or a set of points defining a region
                Unit is optional. It would be assumed to be pixel if no present.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:decimal">
                <xs:attribute name="id"     type="xs:string" use="required"/>
                <xs:attribute name="origin" type="xs:string" use="required"/>
                <xs:attribute name="unit"   type="xs:string" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="HousingSimpleParameter">
        <xs:annotation>
            <xs:documentation xml:lang="en"> A parameter that has a single textual or numerical
                result. ParameterStatus allows additional information about the parameter to be
                recorded, including the reason why there is no result for this parameter.
                ParameterID is the IMPReSSID of the parameter. 
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="value"           type="xs:float"  minOccurs="1" maxOccurs="1"/>
            <xs:element name="parameterStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="parameterID" type="IMPC_001_IMPC_HOS_001_parameters"  use="required"/>
        <xs:attribute name="unit"        type="xs:string"  use="optional"/>
        <xs:attribute name="sequenceID"  type="xs:integer" use="optional"/>
    </xs:complexType>
    
    
    <xs:complexType name="IMPC_001_IMPC_LKZ_001_ProcedureMetadata">
        <xs:annotation>
            <xs:documentation xml:lang="en"> A metadata parameter that has a single textual or
                numerical result. ParameterStatus allows additional information about the parameter
                to be recorded, including the reason why there is no result for this parameter.
                Attributes; parameterID: IMPReSS ID of this parameter 
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="parameterStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="value"           type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="parameterID" type="IMPC_001_IMPC_XRY_001_metadata"  use="required"/>
        <xs:attribute name="sequenceID"  type="xs:integer" use="optional"/>
    </xs:complexType>
   
    <xs:complexType name="HousingProcedureMetadata">
        <xs:annotation>
            <xs:documentation xml:lang="en"> A metadata parameter that has a single textual or
                numerical result. ParameterStatus allows additional information about the parameter
                to be recorded, including the reason why there is no result for this parameter.
                Attributes; parameterID: IMPReSS ID of this parameter 
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="parameterStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="value"           type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="parameterID" type="Housing_metadata_parameters"  use="required"/>
        <xs:attribute name="sequenceID"  type="xs:integer" use="optional"/>
    </xs:complexType>
   
   
    <xs:simpleType name="Housing_metadata_parameters">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IMPC_001_IMPC_HOS_010_001"/>
            <xs:enumeration value="IMPC_001_IMPC_HOS_011_001"/>
            <xs:enumeration value="IMPC_001_IMPC_HOS_012_001"/>
        </xs:restriction>
    </xs:simpleType>
    
   
   
    <xs:simpleType name="IMPC_001_IMPC_HOS_001_parameters">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IMPC_001_IMPC_HOS_001_001"/>
            <xs:enumeration value="IMPC_001_IMPC_HOS_002_001"/>
            <xs:enumeration value="IMPC_001_IMPC_HOS_003_001"/>
        </xs:restriction>
    </xs:simpleType>
       
    <xs:simpleType name="IMPC_001_IMPC_XRY_001_parameters">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IMPC_XRY_001_001"/>  
            <xs:enumeration value="IMPC_XRY_002_001"/>
            <xs:enumeration value="IMPC_XRY_003_001"/>
            <xs:enumeration value="IMPC_XRY_004_001"/>
            <xs:enumeration value="IMPC_XRY_005_001"/>
            <xs:enumeration value="IMPC_XRY_006_001"/>
            <xs:enumeration value="IMPC_XRY_007_001"/>
            <xs:enumeration value="IMPC_XRY_008_001"/>
            <xs:enumeration value="IMPC_XRY_009_001"/>
            <xs:enumeration value="IMPC_XRY_010_001"/>
            <xs:enumeration value="IMPC_XRY_011_001"/>
            <xs:enumeration value="IMPC_XRY_012_001"/>
            <xs:enumeration value="IMPC_XRY_013_001"/>
            <xs:enumeration value="IMPC_XRY_014_001"/>
            <xs:enumeration value="IMPC_XRY_015_001"/>
            <xs:enumeration value="IMPC_XRY_016_001"/>
            <xs:enumeration value="IMPC_XRY_017_001"/>
            <xs:enumeration value="IMPC_XRY_018_001"/>
            <xs:enumeration value="IMPC_XRY_019_001"/>
            <xs:enumeration value="IMPC_XRY_020_001"/>
            <xs:enumeration value="IMPC_XRY_021_001"/>
            <xs:enumeration value="IMPC_XRY_032_001"/>
            <xs:enumeration value="IMPC_XRY_033_001"/>
            <xs:enumeration value="IMPC_XRY_024_001"/>
            <xs:enumeration value="IMPC_XRY_025_001"/>
            <xs:enumeration value="IMPC_XRY_026_001"/>
            <xs:enumeration value="IMPC_XRY_027_001"/>
            <xs:enumeration value="IMPC_XRY_028_001"/>
            <xs:enumeration value="IMPC_XRY_029_001"/>
            <xs:enumeration value="IMPC_XRY_030_001"/>
            <xs:enumeration value="IMPC_XRY_031_001"/>  
            <xs:enumeration value="IMPC_XRY_032_001"/>
            <xs:enumeration value="IMPC_XRY_033_001"/>
            <xs:enumeration value="IMPC_XRY_034_001"/>
            <xs:enumeration value="IMPC_XRY_035_001"/>
            <xs:enumeration value="IMPC_XRY_048_001"/>
            <xs:enumeration value="IMPC_XRY_049_001"/>
            <xs:enumeration value="IMPC_XRY_050_001"/>
            <xs:enumeration value="IMPC_XRY_051_001"/>
            <xs:enumeration value="IMPC_XRY_052_001"/>
          
        </xs:restriction> 
    </xs:simpleType>
    
     <xs:simpleType name="IMPC_001_IMPC_XRY_001_metadata">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IMPC_XRY_036_001"/>
            <xs:enumeration value="IMPC_XRY_037_001"/>
            <xs:enumeration value="IMPC_XRY_038_001"/>
            <xs:enumeration value="IMPC_XRY_039_001"/>
            <xs:enumeration value="IMPC_XRY_040_001"/>
            <xs:enumeration value="IMPC_XRY_041_001"/>
            <xs:enumeration value="IMPC_XRY_042_001"/>
            <xs:enumeration value="IMPC_XRY_043_001"/>
            <xs:enumeration value="IMPC_XRY_044_001"/>
            <xs:enumeration value="IMPC_XRY_045_001"/>
            <xs:enumeration value="IMPC_XRY_046_001"/>
            <xs:enumeration value="IMPC_XRY_047_001"/>
            <xs:enumeration value="IMPC_XRY_053_001"/>
        </xs:restriction> 
    </xs:simpleType>
    
    <xs:simpleType name="Units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mmol/l"/>
            <xs:enumeration value="umol/l"/>
            <xs:enumeration value="g/l"/>
        </xs:restriction> 
    </xs:simpleType>
    
    <xs:simpleType name="mimeTypes">
        <xs:restriction base="xs:string">
    <xs:enumeration value="image/bmp"/>
    <xs:enumeration value="image/gif"/>
    <xs:enumeration value="image/jpeg"/>
    <xs:enumeration value="mage/png"/>
    <xs:enumeration value="image/tiff"/>
    <xs:enumeration value="mage/svg+xml"/>
        </xs:restriction> 
    </xs:simpleType>
</xs:schema>